<h1>Search Results of "{{ search }}"</h1>

{{#if hasContent}}
<div id="gif-container">   
    {{#each gifsUrlArr}}
    <img src="{{ this }}" alt="gif">
    {{/each}}
</div>
{{else}}
    <h2>No result found.</h2>
{{/if}}